/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of CSS Reset */

:root {
    --primary-background: #C2DED1;
    --secondary-background: #ECE5C7;
    --tertiary-background: #0f425a;
    --primary-color: #354259;
    --secondary-color: #CDC2AE;
}

* {
    outline: none;
}

body {
    font-family: sans-serif;
    background-color: var(--secondary-background);
    color: var(--primary-color);

    max-width: 90vw;
    margin: 0 auto;

}

fieldset {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

form {
    display: flex;
    flex-flow: column nowrap;
}

form button {
    font-size: 1rem;
    height: 40px;
    width: 100%;
    border-radius: 2px;
    margin: 10px auto;

    background-color: var(--primary-color);
    
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

form button {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

form button:hover,
form button:focus,
form button:active {
    background-color: var(--tertiary-background);
    color: white;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2em;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 1.6em;
    margin: 0 0 15px 0;
    padding: 10px 0 0 0;
}

h3 {
    font-size: 1.27em;
    margin: 0 0 10px 0;
}

h4 {
    font-size: 1.00em;
}

h5 {
    font-size: 0.85em;
}

h6 {
    font-size: 0.67em;
}

input[type="email"] {
    height: 40px;
    padding: 0 0 0 7px;
}

input[type="email"],
textarea {
    border: 1px solid var(--primary-color);
    background-color: rgba(128, 128, 128, .1);
    border-radius: 2px;
}

textarea {
    padding: 8px 0 0 7px;
    height: 250px;
    resize: none;
}

p {
    line-height: 1.5rem;
    margin: 0 0 20px 0;
}

section {
    margin: 0 0 200px 0;
}

#nav-toggle {
    display: block;
    position: fixed;
    top: 13px;
    right: 13px;
    padding: 10px 0;
    cursor: pointer;
    z-index: 1000;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    width: 40px;
    height: 4px;
    display: block;
    background: var(--primary-color);
    position: relative;
    text-indent: -9000px;
}

#nav-toggle span {
    margin: 10px 0;
}

#nav-toggle span:before,
#nav-toggle span:after {
    content: "";
    position: absolute;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}

.main-content {
    margin: 50px auto 0 auto;
}

.mobile-nav-bar {
    display: none;

    position: fixed;
    width: 45vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 64px 0 0 0;

    background-color: var(--primary-background);
    opacity: .95;
    z-index: 100;
}

.mobile-nav-bar.active {
    display: block;
}

.mobile-nav-controls {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    gap: 2px;
}

.mobile-nav-controls li {
    display: flex;
    justify-content: flex-start;
    height: calc(25px + 3vh);

    font-size: 1.2rem;
    background-color: var(--primary-color);
}

.mobile-nav-controls a {
    display: flex;
    
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0 0 0 calc(5px + 2vw);
}

.nav-bar {
    display: none;
    position: sticky;
    top: 0;
    height: 40px;
}

.nav-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100%;
    gap: 2px;
}

.nav-controls li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--secondary-color);
}

.nav-controls a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 2.6px;
}

.nav-controls a,
.mobile-nav-controls a {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.nav-controls a:hover,
.nav-controls a:focus,
.nav-controls a:active,
.mobile-nav-controls a:hover,
.mobile-nav-controls a:focus,
.mobile-nav-controls a:active {
    background-color: #0f425a;
    color: white;
}

.profile-photo {
    height: 200px;
    width: auto;
    border-radius: 100px;
}

.profile-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px 0 40px 0;
}

@media screen and (min-width: 480px) {
    .profile-photo {
        height: 220px;
        width: auto;
        border-radius: 110px;
    }
}

@media screen and (min-width: 768px) {
    .profile-photo {
        height: 250px;
        width: auto;
        border-radius: 125px;
    }
}

@media screen and (min-width: 1024px) {
    #nav-toggle {
        display: none;
    }

    .mobile-nav-bar,
    .mobile-nav-bar.active,
    .mobile-nav-controls {
        display: none;
    }

    .nav-bar {
        display: block;
    }

    .nav-controls {
        display: flex;
    }

    .profile-photo {
        height: 300px;
        width: auto;
        border-radius: 150px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        max-width: 1050px;
    }
}

/*
    320px — 480px: Mobile devices `
    481px — 768px: iPads, Tablets 
    769px — 1024px: Small screens, laptops 
    1025px — 1200px: Desktops, large screens 
    1201px and more —  Extra large screens, TV 
*/